<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com/3.4.3"></script>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <title>Users Details</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav
      class="flex fixed z-50 items-center justify-between w-full h-16 text-white font-medium border-b border-gray-600 border-opacity-25"
    >
      <div class="menu px-1 py-1 text-2xl">
        <i class="ri-menu-2-line"></i>
      </div>

      <div class="left flex gap-10">
        <a class="px-1 py-1" href="/">HOME</a>
        <a class="px-1 py-1" href="/api/users">AllUsers</a>
        <a class="px-1 py-1" href="/create/new/user">CreateNewUser</a>
        <a class="px-1 py-1" href="/read/a/user">ReadUser</a>
        <a class="px-1 py-1" href="/update/a/user">UpdateUser</a>
        <a class="px-1 py-1" href="/delete/a/user">DeleteUser</a>
      </div>

      <div class="right flex gap-7">
        <a target="_blank" href="https://github.com/Emmraan/api-crud-ops">
          <i class="ri-github-fill text-2xl"></i>
        </a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/md-emran-79302b2b1/"
        >
          <i class="ri-linkedin-box-fill text-2xl"></i>
        </a>
      </div>
    </nav>
    <div class="menu-list absolute text-white">
      <div class="menu-child px-3 z-20 py-[16vw] flex flex-col">
        <a class="px-1 py-1" href="/">HOME</a>
        <br />
        <a class="px-1 py-1" href="/api/users">AllUsers</a>
        <br />
        <a class="px-1 py-1" href="/create/new/user">CreateNewUser</a>
        <br />
        <a class="px-1 py-1" href="/read/a/user">ReadUser</a>
        <br />
        <a class="px-1 py-1" href="/update/a/user">UpdateUser</a>
        <br />
        <a class="px-1 py-1" href="/delete/a/user">DeleteUser</a>
      </div>
    </div>
    <div
      class="users-div w-full h-[90vh] overflow-hidden gap-5 flex flex-col items-center justify-center bg-slate-950 px-8"
    >
      <h1
        class="text-black mt-20 text-3xl px-3 py-2 rounded-md bg-white font-medium z-0"
      >
        User Found IN JSON File.
      </h1>

      <div
        class="users-card mt-10 relative bg-black flex justify-between items-center text-white z-10 py-8 border border-zinc-600 rounded-[12px] z-[-0] min-w-[24vw]"
      >
        <div class="key flex flex-col gap-5 text-base font-medium px-8">
          <h1>ID:</h1>
          <h1>First_Name:</h1>
          <h1>Last_Name:</h1>
          <h1>Email:</h1>
          <h1>Gender:</h1>
          <h1>Job_Title:</h1>
        </div>
        <div class="value flex flex-col gap-5 text-base font-medium px-8">
          <h1><%=user.id%></h1>
          <h1><%=user.first_name%></h1>
          <h1><%=user.last_name%></h1>
          <h1><%=user.email%></h1>
          <h1><%=user.gender%></h1>
          <h1><%=user.job_title%></h1>
        </div>
      </div>
    </div>

    <footer
      class="w-full flex gap-4 justify-center items-center h-24 bg-slate-950 text-white"
    >
      <p>
        &copy; 2024
        <a href="https://opscrud.onrender.com">opscrud</a>
      </p>
      <div class="footer-link right flex gap-4">
        <a target="_blank" href="https://github.com/Emmraan/api-crud-ops">
          <i class="ri-github-fill text-2xl"></i>
        </a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/md-emran-79302b2b1/"
        >
          <i class="ri-linkedin-box-fill text-2xl"></i>
        </a>
      </div>
    </footer>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
